* {
  margin: 0;
  padding: 0;
}
.logo-img {
  width: 60px;
  height: 60px;
  align-self: left;
}
.name {
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 35%;
  text-align: center;
  font-weight: 600;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .name {
    font-size: 17px;
  }
}
/* ------------Navigation---------------*/
#nav-bar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  top: 0;
  z-index: 10;
  margin-bottom: 10%;
}
.navbar-brand img {
  height: 50px;
  padding-left: 30px;
}
.navbar-nav li {
  padding: 5px 10px;
}
.navbar-nav li a {
  /* float: right;
  text-align: left; */
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
#nav-bar ul li a:hover {
  color: hsl(204, 80%, 51%) !important;
}
.navbar {
  background: #fff;
}
.navbar-toggler {
  border: none !important;
}
.nav-link {
  color: #555 !important;
  font-weight: 600;
  word-spacing: 8px;
  font-size: 16px;
}

/*------------Hr design -------------*/
hr.style14 {
  margin: 70px;
  border: 10px;
  height: 7px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/*-----------Slider-----------*/
#slider {
  width: 100%;
  margin-top: 30px;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial !important;
}
.carousel-caption h3 p {
  color: #fff;
  font-size: 42px;
}
/*------------About----------------*/
.despre-noi {
  margin: 50px;
}
#despre h2 {
  margin-top: 90px;
  text-align: center;
  color: #171717 !important;
  padding-bottom: 10px;
}
#despre p {
  padding: 20px;
  line-height: 2;
  text-align: center;
  color: #000000;
}

/* ---------- Lacrimarea --------- */
/* .lacrimarea h2 {
  /* text-decoration: underline; 
  margin-left: 30px;
  margin-bottom: 50px;
}
#lacrimarea {
  margin: 100px auto 200px auto;
}
.lacrimarea {
  width: 65%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 2;
}*/
#lacrimarea h2 {
  
  width: auto;
}

.lacrimarea-p1 {
  margin: 100px auto 100px auto;
  line-height: 2;
  width: 90%;
}
.lacrimarea-p2 {
  margin: 100px auto 100px auto;
  line-height: 2;
  width: 90%;
}
.lacrimarea-img1 {
  border-radius: 55%;
  width: 250px;
  height: 300px;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  display: block;
}
.lacrimarea-img2 {
  border-radius: 55%;
  width: 250px;
  height: 300px;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  display: block;
}

/* ---- Scurt Istoric ---- */

#istoric h2 {
  margin-bottom: 80px;
  text-align: center;
}
.istoric-img {
  width: 270px;
  height: 370px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;

}

.istoric-img2 {
  width: 330px;
  height: 270px;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  display: block;

}

.istoric-img3 {
  width: 330px;
  height: 190px;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  display: block;
}

#istoric p {
  margin: 30px;
  line-height: 2;
}

/* ----- Formular Rugaciune ----- */
#rugaciune .container {
  text-align: center;
  width: 100%;
}
#rugaciune {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: linear-gradient(
      /* this is the photo of our service backgroun */ rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../img/IMG_5740.JPG);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 75px;
  padding-bottom: 75px;
  /* background-image: IMG_5740;
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
#rugaciune p {
  /*  */
  text-align: center;
  width: auto;
  line-height: 2;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 150px;
  margin-right: 150px;
  color: rgb(255, 255, 255);
  border: 2px solid white;
}

.formular-rugaciune {
  text-align: center;
  background-color: bisque;
}

/* #rugaciune h2 {
  text-align: center;
  color: #171717 !important;
  padding-bottom: 10px;
  background-color: #ffffff;
  width: 40%;
  margin: 10px auto 25px auto;
} */
.titlu-ruga {
  font-size: 2em;
}
@media screen and (min-width: 300) and (max-width: 600) {

  .p-titlu-ruga {
    width: 90%;
    
  }
}

#rugaciune p {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: #000000;
  line-height: 2;
  width: 50%;
  margin: 10px auto 25px auto;
  padding: 20px;
}
#rugaciune input,
textarea {
  border-radius: 10px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
   border: 2px solid white;
}
#rugaciune input,
textarea::placeholder {
  color: #000000;
}
#rugaciune .form-group {
  align-content: left;
  width: 100%;
  color: #171717;
}
#rugaciune .form-group textarea {
  border: 2px solid white;
}
.container .btn-trimite {
  width: 120px;
  height: 50px;
  margin: 20px auto 20px auto;
  border-radius: 7px;
  background-color: hsl(204, 80%, 51%);
  color: rgb(255, 255, 255);
  font-size: 150%;
  transition: all 0.25s;
}
.btn-trimite:hover {
  box-shadow: 12px 12px 15px 2px rgba(0, 0, 255, 0.2);
  text-shadow: rgba(0, 0, 255, 0.2) 10px 0 10px;
  transform: translateY(-0.15em);
}

/* ---- Donatii Card ---- */
#donatiiH2 {
  text-align: center;
  margin: 30px 0;
}
#donatii p {
  margin: 0 auto;
  line-height: 2;
  width: 90%;
  padding: 20px 0;
}
@media screen and (min-width: 300) and (max-width: 600){
  #donatii p{
    width: 90%;
    margin: 0;
  }
}
@media screen and (min-width: 300) and (max-width: 900) {
  #donatii,
  .col {
    width: 90%;
    margin: 10% 10%;
  }
  #rugaciune .container .rugaciune {
    width: 70%;
    margin: 0 1% 0 1%;
  }
}
#donatii {
  position: relative;
  text-align: center;
  margin: 20px 100px 20px 100px;
}

.donatii-btn {
  width: 170px;
  height: 60px;
  margin: 20px auto 20px auto;
  border-radius: 7px;
  background-color: hsl(204, 80%, 51%);
  color: rgb(255, 255, 255);
  font-size: 150%;
  transition: all 0.25s;
}
.donatii-btn:hover {
  box-shadow: 12px 12px 15px 2px rgba(0, 0, 255, 0.2);
  text-shadow: rgba(0, 0, 255, 0.2) 10px 0 10px;
  color: #000000;
  transform: translateY(-0.15em);
}

/*---- Footer ----*/
.footer {
  width: auto;
  height: 100%;
  background-color: rgb(85, 85, 85);
  
}
.footer a{
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 0;
  margin-left: 10px;
  display: block;
}

.name-footer{
  text-align: center;
  margin: 10px;
}
.footer-img{
  margin-top: 15px;
  width: 200px;
  height: 200px;
   margin: auto;
   margin-top: 5%;
   margin-bottom: 5%;
   display: block;
}
/* ---- Contact ---- */
#contact {
  background: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}
.contac-form {
  padding: 10px;
}
.contact-form p{
  color: black;
}
.form-control {
  border-radius: 10 !important;
  border: 2 !important;
}
::placeholder {
  color: #999 !important;
}
.form-group {
  padding-bottom: 10px;
}
.follow {
  background: #fff;
  padding: 10px;
  margin: 10px;
}
.contact-info .fa {
  margin: auto;
  color: #007bff;
  font: bold;
}
.contact-info i {
  margin: 4em;
}
.map {
  width: 100%;
  height: 450px;
  align-items: center;
}

.empty-footer{
  width: 100%;
  height: 50px;
  background-color: rgb(85, 85, 85);
}